.pf-c-page__{
  &header {
    @extend .login-header;
  }
}

.pf-c- {
  &nav {
    &__list {
      @extend .nav, .justify-content-center;
    }
    &__item {
      @extend .nav-item;
    }
    &__link {
      @extend .nav-link;
      z-index: 0;
      &::before {
        z-index: -1;
      }
      &.pf-m-current {
        @extend .nuxt-link-active;
      }
    }
  }
  &title {
    padding-top: 0.5rem;
  }
  &form {
    @extend .kcform;
  }
  &form-control {
    @extend .form-control;
  }
  &form__group {
    @extend .form-group, .col-12;
  }
  &button {
    @extend .btn;
    &.pf-m-secondary {
      @extend .btn-outline-primary;
    }
    &.pf-m-primary {
      @extend .btn-primary;
    }
    &.pf-m-danger {
      @extend .btn-danger;
    }
  }
}


.pf-c-expandable__toggle {
  @extend .btn, .btn-danger;
  svg {
    display: none;
  }
}

.pf-c-form__actions {
 display: flex;
 justify-content: space-between;
}