.pf-c-page__{
  &header {
    @extend .login-header;
  }
}

.pf-c- {
  &nav {
    &__list {
      @extend .nav, .justify-content-center;
    }
    &__item {
      @extend .nav-item;
    }
    &__link {
      @extend .nav-link;

      z-index: 0;
      &::before {
        z-index: -1;
      }
      &.pf-m-current {
        @extend .nuxt-link-active;
      }
    }
  }
  &title {
    padding-top: 0.5rem;
  }
  &data-list {
    list-style-type: none;
    padding: 0;
    &__item {
      @extend .form-group, .col-12;
    }
  }
  &form {
    @extend .kcform;
  }
  &form-control {
    @extend .form-control;
  }
  &form__group {
    @extend .form-group, .col-12;
  }
  &form__actions {
    @extend .d-flex, .justify-content-between;
  }
  &button {
    @extend .btn;
    
    font-size: 0.875rem;
    font-weight: 600;

    &.pf-m-secondary {
      @extend .btn-outline-primary;      
    }
    &.pf-m-primary {
      @extend .btn-primary;
    }
    &.pf-m-danger {
      @extend .btn-danger, .text-uppercase;
    }
  }
}

.no-form- {
  &wrapper {
    padding: 1.5rem calc(0.5rem + 15px);
    text-align: center;

    .pf-c-form__group {
      padding: 0;
      margin-bottom: 0;
    }
  }

  &actions {
    @extend .d-flex, .justify-content-between;
  }
}

.pf-m-toast {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 300px;
  
  @media (min-width: 992px) {
    max-width: 350px;
  }
  
  li {
    background: #0a72cc;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    
    > div {
      display: flex;
    }

    h4 {
      font-size: 0.875rem;
      font-weight: normal;
      padding: 0 1rem;
      margin-bottom: 0;
    }

    button {
      color: #fff;
      padding: 0;
      line-height: 1;
      margin-top: -0.25rem;
    
      &:hover {
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}
