.kccontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .kcinner {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;

    &::before {
      min-height: 50px;
    }

    .kcbox {
      background-color: $white;
      border-radius: 0.2rem;
      flex: 0 1 auto;
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: auto;
        min-width: percentage(10/12);
      }

      @include media-breakpoint-up(md) {
        min-width: percentage(8/12);
      }

      @include media-breakpoint-up(lg) {
        min-width: percentage(6/12);
      }

      @include media-breakpoint-up(xl) {
        min-width: auto;
        width: 40rem;
      }

      .login-header {
        margin-top: 2rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      .divider {
        border-top: 2px solid $bodygrey;
        margin-bottom: 1rem;
        margin-top: 0.3rem;
      }
    }
  }
  .no-form-wrapper {
    padding: 0.5rem;
    text-align: center;
  }
}

