a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

.instruction {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1.5rem 0.25rem 1.5rem;
}
