.btn {
  &:focus {
    outline: auto;
  }
}

.btn-primary {
  background: $blue;
  border-color: $blue;
  font-size: $font-size-small;
  text-transform: uppercase;

  &:hover {
    background: $blue;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  }  
}

.btn-link {
  color: $blue;
}

.btn-outline-primary {
  border-color: $blue;
  color: $blue;
  font-size: $font-size-small;
  text-transform: uppercase;

  &:hover:not([disabled]) {
    background-color: $blue;
    border-color: $blue;
  }

  &.disabled {
    color: $grey;
    border-color: $grey;
  }
}

.btn-light {
  background: $white;
  border: 0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  color: $mediumgrey;
  font-size: $font-size-small;
  padding: 0.5rem 1rem;
  text-decoration: none;

  &:hover {
    background: $white;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
  }
}

.btn-transparent {
  background-color: transparent;
  border: 0;
}

.btn-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: $white;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
    color: $white;
  }  
}

a {
  &.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }

  &.skip-main:focus, &.skip-main:active {
    color: $white;
    background-color: $black;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 4px solid $yellow;
    text-align: center;
    font-size: 1.2rem;
    z-index: 999;
  }
}

.nav-link,
.extended-toggle {
  position: relative;

  &:before {
    background: $offwhite;
    border-radius: $border-radius;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-property: transform, opacity;
    z-index: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover:before {
    opacity: 1;
    transform: scale(1);
  }
}

.page-link {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
  }
}

.page-item.active .page-link {
  background-color: $darkblue;
  border-color: $darkblue;
}
