[class^='icon-'],
[class*=' icon-'],
.icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable-next-line */ 
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
  content: '\e900';
}

.icon-facebook:before {
  content: '\e901';
}

.icon-twitter:before {
  content: '\e902';
}

.icon-caret-down:before {
  content: '\e903';
}

.icon-close:before {
  content: '\e904';
}

.icon-pinterest:before {
  content: '\e908';
}

.icon-instagram:before {
  content: '\e909';
}
