.modal {
  .modal-body {
    padding-bottom: 0;

    form {
      label {
        font-size: $font-size-small;
        margin-bottom: 0;
      }

      .form-control {
        background: $white;
        border: 1px solid $paper;
        font-size: $font-size-small;
      }

      .form-group:focus-within {
        border-color: $blue;
        color: $blue;
      }
    }
  }

  .modal-footer {
    border: 0;
    justify-content: space-between;
    padding: 1rem 0;
  }
}
