$font-family-sans-serif: 'Open Sans', 'Arial', sans-serif;

$white: #fff;

/* https://pro.europeana.eu/resources/europeana-brand/brand-guidelines */
$grey: #777;
$offwhite: #f1f1ee;
$paper: #d9d4ca;
$lightgrey: #a6a6a6;
$mediumgrey: #4d4d4d;
$darkgrey: #232323;
$bodygrey: #ededed;
$black: #1a1a1a;

$innovationblue: #0a72cc;
$blue: $innovationblue;
$midnight: #293745;
$darkblue: #085395;
$lightblue: #79b2e3;

$yellow: #ffae00;
$yellowhighlight: #ffcb56;

$textcolor: $black;
$textcolor-light: $grey;
$textcolor-coloured: $darkblue;

$boxshadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$boxshadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
$boxshadow-large: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
$boxshadow-light: 2px 2px 4px 0 rgba(0, 0, 0, 0.08);

$textshadow: 2px 2px 0 rgba(0, 0, 0, 0.2);

$border-radius: 0.375rem;
$border-radius-small: 0.25rem;

$font-size-medium: 1.25rem;
$font-size-base:  1rem;
$font-size-small: 0.875rem;
$font-size-extrasmall: 0.75rem;
$font-size-smallest: 0.625rem;

$grid-gutter: 15px;

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-extralarge: 1200px;

$standard-transition: 0.3s ease-in-out;
